{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            {% if current_user.is_authenticated %}
                <li>
                    {{ entry.datetime | dateformat("%d/%m/%y") }}
                </li>
                <li>
                    {{ entry.author.name }}
                </li>
                <li>
                    <a href = "/entry/edit/{{ entry.id }}">Edit</a>
                </li>
                <li>
                    <a href = "/entry/delete/{{ entry.id }}">Delete</a>
                </li>
            {% else %}
                <li>
                    {{ entry.datetime | dateformat("%d/%m/%y") }}
                </li>
                <li>
                    {{ entry.author.name }}
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href = "/entry/{{ entry.id }}">{{ entry.title }}</a>
        </h1>
        {{ entry.content | markdown }}
    </div>
</div>
{% endmacro %}
